.stks{
	position: relative;
}

.stk{
	height: 300px;
	width: 5px;
	background-color: black;
	position: absolute;
		left: 49%;
}

.deg45{ transform: rotate(45deg); }
.deg30{ transform: rotate(30deg); }
.deg270{ transform: rotate(270deg); }
.deg15{ transform: rotate(15deg); }
.deg120{ transform: rotate(120deg); }
.deg75{ transform: rotate(75deg); }
